body{
	margin: auto;
    width: 1000px;
    height: 100%;
    position: relative;
}

.centralizar2{
	position: absolute;
	width: 100%;
	height: 166px;
	background-image:url(../img/nm1.jpg);
	border-color: rgb(153,153,153);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}
#corpo{
	position: absolute;
    width: 100%;
    height: 564px;
    top: 168px;
    left: 1px;
    background-image:url(../img/nm1.jpg);
    border-color: rgb(153,153,153);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}
#rodape{
	position: relative;
    width: 100%;
    height: 200px;
    top: 733px;
    left: 1px;
    background-image:url(../img/nm1.jpg);
}
.quadroTexto1 {
    position: relative;
    width: 650px;
    height: 96px;
    top: 8px;
    left: 187px;
    background: pink;
    border-color: rgb(153,153,153);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
   background-image:url(../img/img2.jpg); 
}

.quadroTexto2{
	position: relative;
    width: 645px;
    height: 59px;
    top: 119px;
    left: 191px;
   
}
.quadroTexto3{
	position: relative;
    width: 645px;
    height: 59px;
    top: 175px;
    left: 191px;
   
}
#botao {
    position: relative;
    width: 145px;
    height: 43px;
    top: 386px;
    left: 697px;
    background: pink;
    cursor: pointer;
    border-color: rgb(153,153,153);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}
#carregando {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        50%;
    left:       50%;
    height:     100%;
    width:      100%;
    background-image: url(../img/loading100.gif);
    background-repeat: no-repeat;
}
.texto1 {
    position: absolute;
    width: 177px;
    height: 16px;
    left: 205px;
    top: 7px;
    margin-left: 1px;
    margin-top: -9px;
    font-size: 45px;
}
#nome1 {
    position: relative;
    width: 585px;
    height: 50px;
    left: -1px;
    top: -48px;
}
.nome2{
    position: relative;
    width: 588px;
    height: 54px;
    top: -20px;
    left: -3px;
}
#botaoEnviar{
	position: relative;
    width:0px;
    height:0px;
    top: 0px;
    left:07px;
    font-size: 34px;
}
#Descricao {
    position: absolute;
    width: 17px;
    height: 16px;
    left: 28px;
    top: 24x;
    margin-left: 20px;
    margin-top: 172px;
    font-size: 29px;
}
#Nome {
    position: absolute;
    width: 17px;
    height: 16px;
    left: 48px;
    top: 24x;
    margin-left: 53px;
    margin-top: 76px;
    font-size: 29px;
}
.botaoAlterar {
    position: relative;
    width: 146px;
    height: 43px;
    top: 339px;
    left: 525px;
    background: pink;
    cursor: pointer;
    border-color: rgb(153,153,153);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}
#botaoAlterar{
	position: relative;
    width:0px;
    height:0px;
    top: 0px;
    left:07px;
    font-size: 34px;
}
#tabela {
    position: relative;
    width: 607px;
    height: 51px;
    top: 17px;
    left: 168px;
    background:white;
    cursor:pointer;
}