#banerPrincipal{
	width:100%;
	height: 516px;
	background: black url(../img/banner_s1.png);
}

#categoria {
    position: absolute;
    width: 222px;
    height: 1713px;
    top: 516px;
    margin-top: 10px;
    margin-left: 10px;
    border-color: rgb(153,153,153);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;

}

#categoriaEsq{
	position: absolute;
	width:5px;
	height:25px;
	left:-1px;
	top:-1px;
	background: black url(../img/corpo_gradiente_left_s1.png)
}

#categoriaCen{
	position:absolute;
	width:211px;
	height:25px;
	left:4px;
	top:-1px;
	background: black url(../img/corpo_gradiente_center_s1.png)
}
#categoriaDir{
	position:absolute;
	width:7px;
	height:25px;
	left:215px;
	top:-1px;
	background: black url(../img/corpo_gradiente_right_s1.png)
}
.fontTitulo{
	font-family:Arial, Helvertica, sans-serif;
	font-size:14px;
	font-weight: bold;
	color:#666;
}
#labelCategorias{
	position: absolute;
	left: 8px;
	top:4px;
}
#listaCategorias{
	position: absolute;
	top:25px;
}
.fontItemMenu{
	font-family:Arial, Helvertica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color:#999;
	text-decoration: none;
}
.fontItemMenu:hover{
	color:#999;
	text-decoration: underline;
}
#ulCategoria{
	padding-left: 20px;
	pading-rigth:5px;
	text-align: left;
}
#ulItemCategoria{
	padding-left: 16px;
	pading-rigth:8px;
	padding-bottom: 8px;
}
#cameras{
    position: absolute;
    width: 754px;
    height:150%;
    top: 516px;
    margin-top: 10px;
    margin-left: 245px;
    border-color: rgb(153,153,153);
    border-style: solid;
    border-width: 1px;
    border-radius:15px;
}
#labeldestaque{
	position: absolute;
	left: 8px;
	top:4px;
}
#destaqueEsq{
	position: absolute;
	width:5px;
	height:25px;
	left:-1px;
	top:-1px;
	background: black url(../img/corpo_gradiente_left_s1.png)
}
#destaqueCen{
	position: absolute;
    width: 742px;
    height: 25px;
    left: 4px;
    top: -1px;
    background: black url(../img/corpo_gradiente_center_s1.png);
}
#destaqueDir{
	position: absolute;
    width: 7px;
    height: 25px;
    left: 746px;
    top: -1px;
    background: black url(../img/corpo_gradiente_right_s1.png);
}
.quadro{
    width: 194px;
    height: 175px;
    top: 26px;
    left: 3px;
    margin-left: 19px;
    margin-right: 5px;
}
.camera01{
    width: 181px;
    height: 164px;
    left: 92px;
    top: 28px;
    background: black url(../img/camera.png);
}

.quadro_detalhe{
    width: 105px;
    top: 110px;
    left: 6px;
    margin-left: 46px;
    margin-right: 7px;
}
.quadro_texto{
	width:200px;
	height:40px;
	left:100px;
	top:40px;
}
.lista_estilo{
	list-style-type:none;
	display:inline-block;
	 
}
#cameras_recomendadas{
    position: absolute;
    width: 752px;
    height: 19%;
    top: 1727px;
    left: 241px;
    border: 1px solid;
    border-radius: 15px;
}
#labelrecomendada{
	position: absolute;
	left: 8px;
	top:4px;
}
#recomendadaEsq{
	position: absolute;
	width:5px;
	height:25px;
	left:-1px;
	top:-1px;
	background: black url(../img/corpo_gradiente_left_s1.png)
}
#recomendadaCen{
	position: absolute;
    width: 742px;
    height: 25px;
    left: 4px;
    top: -1px;
    background: black url(../img/corpo_gradiente_center_s1.png);
}
#recomendadaDir{
	position: absolute;
    width: 7px;
    height: 25px;
    left: 746px;
    top: -1px;
    background: black url(../img/corpo_gradiente_right_s1.png);
}
.item{
	width: 180px;
	height: 359px;
	list-style-type: none;
	display: inline-block; 
	margin-left:10px;
	margin-right:7px;
	
}
span.cor{
	color:green;
}
span.cor2{
	color:blue;
	font-size:17px;
	
}
span.cor3{
	color:green;
	font-size:11px;
}
span.riscado{
	text-decoration:line-through;
}
#recomendados{
	position: absolute;
    width: 400px;
    height: 500px;
    top: 22px;
    left: 0px;
}
#produtos_em_destaque{
	position: absolute;
    width: 752px;
    height: 1195px;
    top: 527px;
    left: 242px;
    border: 1px solid;
    border-radius:15px;
}
.quadro_foto{
	width:172px;
	height:161px;
	top:20px;
	left:109px;
	background: black url(../img/camera.png);
	background-repeat:no-repeat;
}
#espaco_foto{
	margin-top:45px;
}
.detalhe{
	width:100px;
	height:20px;
	left:100px;
	top:40px;
	margin-left:34px;
	margin-top:13px;
	cursor:pointer;
	background: black url(../img/detalhe.png);
}
.texto_inicial{
	width: 177px;
    height: 48px;
    left: 100px;
    top: 40px;
    margin-left: 1px;
    margin-top: 13px;
    font-size:12px;
}
.preco{
	width: 178px;
    height: 68px;
    left: 100px;
    top: 46px;
    margin-left: 1px;
    margin-top: 4px;
    font-size:12px;
}

